<link rel="import" href="elts/dashboard-list.html">

<style>
	* {
		box-sizing: border-box;
	}

	html {
		background: #333;
	}

	body {
		min-height: 100vh;
		max-width: 1100px;
		margin: 0 auto;
		position: relative;
	}

	aside {
		width: 200px;
		height: 100vh;
		position: fixed;
		background: orange;
		padding: 15px;
		text-align: center;
	}

	ul {
		text-align: left;
	}

	main {
		width: calc(100% - 200px);
		height: 100vh;
		position: absolute;
		left: 200px;
	}

	dashboard-list {
		height: 100vh;
		position: absolute;
	}
</style>

<aside>
	Aside<br><br>
	<ul>
		<li><a href="#" class="first">First</a></li>
		<li><a href="#" class="second">Second</a></li>
	</ul>
</aside>
<main>
	<dashboard-list class="s-first">
		<dashboard-item image="https://wellopp.com/img/splash.jpg" name="Foo" description="Blah"></dashboard-item>
	</dashboard-list>
	<dashboard-list class="s-second" style="display: none;"></dashboard-list>

	<script>
		let sFirst = document.querySelector('.s-first');
		let sSecond = document.querySelector('.s-second');

		document.querySelector('.first').addEventListener('click', (e) => {
			e.preventDefault();
			sFirst.style.display = 'block';
			sSecond.style.display = 'none';
		});

		document.querySelector('.second').addEventListener('click', (e) => {
			e.preventDefault();
			sFirst.style.display = 'none';
			sSecond.style.display = 'block';
		});
	</script>
</main>