	<!--mock data-->
	<notes-data></notes-data>
	<dom-module id="notes-data">
		<script>
			Polymer({
				is: 'notes-data',
				ready: () => {
					app.notes = [
						{
							id: 0,
							title: 'Have you visited your primary care physician?'
						},
						{
							id: 1,
							title: 'Have you taken your medication this morning?'
						},
						{
							id: 2,
							title: 'How many drinks have you had in the last week?',
							answerPositive: '0-3',
							answerNegative: '3+'
						}
					];
				}
			});
		</script>
	</dom-module>
