<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<style>
		body {
			background: #eee;
		}
	</style>

	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="elts/sticky-note.html">
</head>
<body>
	<sticky-note title="Have you visited your primary care physician?"></sticky-note>
	<sticky-note title="Have you taken your medication this morning?"></sticky-note>
	<sticky-note title="How many drinks have you had in the last week?" answer-positive="0-3" answer-negative="3+"></sticky-note>
</body>
</html>
