<!DOCTYPE html>
<html>
<head>
	<title>nodepoly</title>
	<style>

	</style>
	<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="bower_components/paper-button/paper-button.html">
</head>
<body>
	<h1>Home - nodepoly</h1>
	<h2>{{subtitle}}</h2>

	<h3>Car horsepower: {{hp}}</h3>

	<paper-button raised>raised</paper-button>

	<script>

	</script>
</body>
</html>